// COLORFUL SHADES
$blue: #1C7DCC;
$green: #02AD00;
$orange: #FF6117;
$purple2: #B400D1;
$red: #ED0000;

// NEUTRAL SHADES 
$black: #000000;
$white: #FFFFFF;

// DARK SHADES
$gray0: #EEEEEE;
$gray1: #CCCCCC;
$gray2: #888888;
$gray3: #444444;

