#infoPopUp.info
  #closeArea.info__close
  .info__modal.in-column
    //- Dinamic Title ->
    .in-row
      p.info__title Jurere Internacional
      button#close.icon__close.is-absolute-right
    hr.underline.underline--shine.underline__info--margin
    .details__rating.details__rating--text.in-row
      svg.icon__star
        use(xlink:href="#icon-star")
      p.details__grade.details__grade--bold 4.8
      p.details__grade (1.024 avaliações)
      p.tag.tag__margin natureza
      p.tag.tag__margin lazer
    p.info__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. At diam in mauris varius maecenas adipiscing. Faucibus erat nisl vel, consequat aliquam vehicula neque, elementum. Non aliquam neque pharetra lacus, et elementum. Posuere ante tristique est faucibus pharetra. Turpis quisque arcu amet libero at dolor sit ipsum pellentesque.
    a(href="#").info__link Clique para ver a descrição completa...
    .info__gallery.in-row
    .info__footer.in-row
      button.icon__arrow.icon__arrow--left 
      button.icon__arrow.icon__arrow--right

