header 
  nav.navbar 
  .navbar__overlay
    .navbar__logo 
      img(src="/assets/logo.png", alt="")
    .button__block
      a.button.button--login ENTRAR

  .header
    .header__hero
      .header__text
        h1.header__title ENCONTRE OU MONTE O
          br
          | ROTEIRO IDEAL DA SUA VIAGEM!
      input.input.input__header(type="text" placeholder="Qual será o seu destino?")

.container
  .container__body   
    h1 COMPONENTS HERE
  .container__body   
    h1 COMPONENTS HERE
  .container__body   
    h1 COMPONENTS HERE
  .container__body   
    h1 COMPONENTS HERE
  .container__body 

