head
  title Nomadfy
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="title" content="Nomadfy")
  meta(name='description' content='Encontre ou monte o roteiro ideal da sua viagem!')
  meta(property='og:type' content='website')
  meta(property='og:url' content='https://nomadfy.com')
  meta(property='og:title' content='Nomadfy')
  meta(property='og:description' content='Encontre ou monte o roteiro ideal da sua viagem!')
  meta(property='og:image' content='/favicon/favicon.png')
  meta(property='og:locale' content='pt')
  meta(property='og:site_name' content='Nomadfy')
  meta(property='twitter:url' content='https://nomadfy.com')
  meta(property='twitter:title' content='Nomadfy')
  meta(property='twitter:description' content='Encontre ou monte o roteiro ideal da sua viagem!')
  meta(property='twitter:image' content='/favicon/favicon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='/favicon/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='/favicon/favicon-16x16.png')
  link(rel='apple-touch-icon' sizes='57x57' href='/favicon/apple-icon-57x57.png')
  link(rel='manifest' href='/favicon/manifest.json')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href="https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Roboto&display=swap" rel="stylesheet")
  link(rel="stylesheet" href="/css/main.scss")
