.explore
  h1.explore__title EXPLORE 
    strong ROTEIROS 
    | PRONTOS 
  nav.explore__components
    #image.explore__card([data-card])
      .explore__linear
        h3.explore__subtitles(data-title)
        .explore__location
          svg.explore__icon
            use(xlink:href="#icon-location")
          p.explore__city(data-city)
    #image.explore__card([data-card])
      .explore__linear
        h3.explore__subtitles(data-title)
        .explore__location
          svg.explore__icon
            use(xlink:href="#icon-location")
          p.explore__city(data-city)
    #image.explore__card([data-card])
      .explore__linear
        h3.explore__subtitles(data-title)
        .explore__location
          svg.explore__icon
            use(xlink:href="#icon-location")
          p.explore__city(data-city)
