section.explore
  .explore__header
    h1.explore__title Explore 
      strong roteiros 
      | prontos
    a.button__explore.button__hover(href="#results") 
      p.explore__button--text Explorar outros roteiros.
  nav.explore__components
  .explore__header
    h1.explore__title Principais 
      strong destinos 
      | no brasil
    a.button__explore.button__hover(href="#results") 
      p.explore__button--text Explorar outros destinos.
  nav.explore__components.explore__components--destination
