.explore
  h1.explore__title EXPLORE 
    strong ROTEIROS 
    | PRONTOS 
  nav.explore__components
  h1.explore__title PRINCIPAIS 
    strong DESTINOS 
    | NO BRASIL
  nav.explore__components.explore__components--destination
