.explore
  .explore__header
    h1.explore__title EXPLORE 
      strong ROTEIROS 
      | PRONTOS
    a.button__explore.button__hover(href="#") 
      p.explore__button--text Explorar outros roteiros.
  nav.explore__components
  .explore__header
    h1.explore__title PRINCIPAIS 
      strong DESTINOS 
      | NO BRASIL
    a.button__explore.button__hover(href="#") 
      p.explore__button--text Explorar outros destinos.
  nav.explore__components.explore__components--destination
