section.hero
  .hero__section
    .hero__text
      h1.hero__title Encontre ou monte o
        br
        | roteiro ideal da sua viagem!
    input.input.input__hero(type="text")
    span.hero__input Qual será o seu destino?
