.hero
  .hero__hero
    .hero__text
      h1.hero__title ENCONTRE OU MONTE O
        br
        | ROTEIRO IDEAL DA SUA VIAGEM!
    input.input.input__hero(type="text" placeholder="Qual será o seu destino?")
