#login.login.in-column
  .login__header.in-row
    p Lorem ipsum dolor sit amet
    button.icon__close
  hr.underline.underline--shine.underline--modal--margin
  p.login__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget purus tincidunt egestas congue. 
  button.button.button--google.button--upper Entrar com a conta do google
  p.login__else - ou -
  form.login__container.in-column
    label.login__label Email
    span.login__placeholder.login--mail example@mail.com
    input.login__input(type="text", required)
    label.login__label Senha
    span.login__placeholder.login--password ********
    input#password.login__input(type="password", required)
    a#showPassword.button--borderless.button--show(href="#" role="button")
    a.login__recover Recuperar senha 
    button.button.button--orange.button--center.button--login.button--upper Entrar
    button.button.button--borderless.button--create.button--upper Criar conta
#closeLogin.login__close
