#login.login.in-column
  .login__header.in-row
    p Lorem ipsum dolor sit amet
    button#closeIcon.icon__close
  hr.underline.underline--shine.underline--modal--margin
  p.login__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget purus tincidunt egestas congue. 
  button.button.button--google.button--upper Entrar com a conta do google
  p.login__else - ou -
  form.login__container.in-column
    label.login__label(for="user_mail") Email
    input#user_mail.login__input(placeholder="example@mail.com" type="text", required)
    label.login__label(for="password") Senha
    input#password.login__input(placeholder="********" type="password", required)
    a#showPassword.button--borderless.button--show(href="#" role="button")
    a.login__recover Recuperar senha 
    a#enter.button.button--orange.button--center.button--login.button--upper(href="/details/index.pug") Entrar
    button.button.button--borderless.button--create.button--upper Criar conta
#closeLogin.login__close
