.button {
  display: inline-block;
  cursor: pointer;

  &:not(.button--borderless) {
    border: 2px solid $orange;
  }

  &--login {
    border-radius: 15px;
    padding: 10px;
    background-color: $orange;
    color: $white;
    transition: .2s;

    @media screen and (min-width: 375px) {
      width: 120px;
    }

    @media screen and (max-width: 374px) {
      width: 90px;
    }
  }

  &--round {
    border-radius: 50%;
    background-color: $white;
    opacity: 0.6;
  }

  &__block {
    display: inline-block;
    text-align: center;
  }

  &__holder {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  &__centralized {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__explore {
    display: none;
    align-items: center;
    align-self: center;
    color: $orange;
    border: 1px solid $gray2;
    border-radius: 8px;
    font-size: 14px;
    transition: .3s;


    @media screen and (min-width: 651px) {
      height: 32px;
      max-height: 190px;
      padding: 10px 15px;
    }

    @media screen and (max-width: 650px) {
      min-height: 32px;
      max-height: 65px;
      max-width: 190px;
      padding: 5px 15px;
    }
  }
}
