.button {
  border-radius: 30px;
  height: 35px;
  min-width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:not(.button--borderless) {
    border: 2px solid $orange;
  }

  &__holder {
    display: flex;
  }
}