.explore {
  display: flex;
  flex-direction: column;
  margin: 2em;
  min-height: 900px;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__title {
    color: $gray3;
    font-size: 32px;
    margin-right: 20px;
    text-transform: uppercase;
  }

  &__button--text {
    text-align: center;
    width: 100%;
  }

  &__components {
    display: flex;
    flex-direction: row;
    height: 370px;
    margin: auto;
    overflow-x: auto;
    width: 100%;
  }
  
  &__card {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: flex-end;
    margin: 0 auto;
    min-width: 250px;
    overflow: hidden;
    position: relative;
    transition: .75s;
    width: 15.5%;
    z-index: 2;
  }

  &__card:not(:last-of-type) {
    margin-right: 20px;
  }

  &__card:hover {

    .explore__subtitles, 
    .explore__location {
      transform: scale(1.02);
      transform: translateY(-10px);
    }

    > *:not(.explore__linear) {
      transform: scale(1.01);
      filter: blur(1px);
    }
  }
  
  &__image {
    border-radius: 8px;
    display: flex;
    max-height: 350px;
    position: absolute;
    transition: .75s;
    width: 100%;
    z-index: 1;
  }
  
  &__linear {
    background-position: bottom;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    border-radius: 8px;
    position: relative;
    transition: .75s;
    visibility: visible;
    z-index: 7;
  }

  &__location {
    display: flex;
    flex-direction: row;
    margin: 5px 15px 10px;
    transition: .75s;
    z-index: 6;
  }

  &__subtitles {
    color: $white;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    margin: 0 auto;
    max-width: 80%;
    position: relative;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    transition: .75s;
    z-index: 5;
  }
  
  &__subtitles--guide {
    margin: 0 15px;
  }

  &__subtitles--dest {
    margin: 15px;
  }

  &__icon {
    margin-right: 10px;
    min-height: 16px;
    min-width: 15px;
    z-index: 4;
  }

  &__city {
    color: $white;
    font-size: 15px;
    font-weight: 700;
    margin: 2px 0 -5px;
    z-index: 3;
  }
}
