.explore {
  display: flex;
  flex-direction: column;
  min-height: 850px;
  margin: 2em;

  &__title {
    font-size: 32px;
    color: $gray3;
  }

  &__components {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 24px auto;
  }

  &__image {
    display: flex;
    width: 250px;
    max-height: 300px;
    border-radius: 8px;
    margin-right: 20px;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    background-size: 150px;
    background-position: bottom;
    z-index: 1;

    @media screen and (min-width: 1606px) {
      width: 250px;
      max-height: 300px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 125px;
    z-index: 3;

    @media screen and (min-width: 1606px) {
      width: 250px;
      height: 150px;
    }
  } 

  &__card:not(:last-of-type) {
    margin-right: auto;
  }

  &__linear {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    background-position: bottom;
    border-radius: 8px;
    z-index: 1;
  }

  &__location {
    display: flex;
    flex-direction: row;
    margin: 5px 15px 10px;
    z-index: 2;
  }

  &__subtitles {
    color: $white;
    font-size: 24px;
    font-weight: bold;
    z-index: 2;
  }
  
  &__subtitles--guide {
    margin: 0 15px;
  }

  &__subtitles--dest {
    margin: 15px;
  }

  &__icon {
    width: 12px;
    height: 16px;
    margin-right: 10px;
    z-index: 2;
  }

  &__city {
    font-size: 14px;
    margin: 2px 0 -10px;
    color: $white;
    z-index: 2;
  }
}
