.header {
  display: flex;
  justify-content: space-between;
  height: 87px;
  align-items: center;
  opacity: .75;
  background-color: $white;
  position: absolute;
  border-bottom: 1px solid $gray1;
  left: 0;
  right: 0;
  z-index: 100;

  &__overlay {
    position: absolute;
    display: inline-block;
    justify-content: space-between;
    display: flex;
    align-items: center;
    min-width: 100%;
    z-index: 101;
    
    @media screen and (min-width: 375px) {
      padding: 1em 2em;
    }

    @media screen and (max-width: 374px) {
      padding: 1em 1em;
    }
  }

  &__logo {
    margin-right: 30px;
    transition: .3s;
  }

  &__items {
    display: none;
    align-items: center;
  }
  
  &__icon {
    display: flex;
    min-width: 30px;
    min-height: 20px;
    margin-right: 30px;
  }
}
