.header{
  height: 100vh;
  background-image: url(/assets/hero.png);
  background-repeat: no-repeat;
  background-size: cover;

  &__navbar {
    height: 4.2em;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
  }


}

