.input {
  padding: 0 0 0 15px;

  &__header {
    height: 49px;
    border-radius: 10px;
    border: 2px solid white;
    opacity: 0.6;
    width: 250px;
    color: #000000, 50%;
    background: #E0E0E0;
  
  }
}
