.modal {
  position: absolute;
  width: 25%;
  height: calc(100% - 85px);
  background-color: $gray0;
  bottom: 0;
  left: 30%;
  padding: 2em;

  &__values {
    color: $gray3;
    font-size: 16px;
    width: 100%;
  }

  &__select {
    border: 1px solid $gray2;
    border-radius: 8px;
    opacity: .75;
    height: 22px;
    width: 42px;
    font-weight: bold;
    background-color: white;
    padding: 0 4px;
    color: $black;
    margin: 0 16px;
  }
}
