.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em 0;
  align-items: center;
  opacity: 0.7;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  right: 0;

  &__overlay {
    position: absolute;
    display: inline-block;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0.35em 2em;
    min-width: 100%;
  }
}
