doctype html
html(lang="en")
  include ../templates/_head.pug
  body#details
    include ../assets/icons.svg
    include ../templates/_header.pug
    include ../templates/_details-section.pug
    script(src='../details.js' defer)
    