.is-centered {
  margin: 0 auto;
}

.is-relative {
  position: relative;
  right: 10%;
  top: 0;
}

.is-visible {
  visibility: visible;
  opacity: 1;
}

.in-horizontal-end {
  display: flex;
  justify-content: flex-end;
}

.in-vertical-center {
  display: flex;
  align-items: center;
}

.in-vertical-end {
  display: flex;
  align-items: flex-end;
}

.in-row {
  display: flex;
  flex-direction: row;
}

.in-column {
  display: flex;
  flex-direction: column;
}

.is-absolute-right {
  position: absolute;
  right: 2em;
}

.is-absolute-left {
  position: absolute;
  left: 2em;
}
