*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  width: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Asap Condensed', sans-serif;
  line-height: 1.4;
}

p,
input,
span,
a,
button,
li,
select {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  line-height: 1.1;
}

svg {
  max-width: 25px;
  max-height: 25px;
}

strong {
  color: $black;
}

a, button {
  text-decoration: none;
  cursor: pointer;
}
