html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

template,
[hidden] {
  display: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: bold;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  width: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Asap Condensed", sans-serif;
  line-height: 1.4;
}

p,
input,
span,
a,
button,
li,
select {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 1.1;
}

svg {
  max-width: 25px;
  max-height: 25px;
}

strong {
  color: #000000;
}

a, button {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

.button {
  display: inline-block;
  cursor: pointer;
}
.button:not(.button--borderless) {
  border: 2px solid #FF6117;
}
.button--login {
  border-radius: 15px;
  padding: 10px;
  background-color: #FF6117;
  color: #FFFFFF;
  transition: 0.2s;
}
@media screen and (min-width: 375px) {
  .button--login {
    width: 120px;
  }
}
@media screen and (max-width: 374px) {
  .button--login {
    width: 90px;
  }
}
.button--login:hover {
  transform: scale(1.02) !important;
}
.button--round {
  border-radius: 50%;
  background-color: #FFFFFF;
  opacity: 0.6;
}
.button__block {
  display: inline-block;
  text-align: center;
}
.button__holder {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.button__explore {
  align-items: center;
  align-self: center;
  border-radius: 8px;
  border: 1px solid #888888;
  color: #FF6117;
  display: none;
  font-size: 14px;
  transition: 0.3s;
}
@media screen and (min-width: 651px) {
  .button__explore {
    height: 32px;
    max-height: 190px;
    padding: 10px 15px;
  }
}
@media screen and (max-width: 650px) {
  .button__explore {
    max-height: 65px;
    max-width: 190px;
    min-height: 32px;
    padding: 5px 15px;
  }
}
.button__menu {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  height: 30px;
  justify-content: center;
  padding: 0;
  width: 30px;
}
.button__menu:hover {
  background-color: #CCCCCC;
  border-radius: 25px;
  background-size: 25px;
}

.input {
  padding: 0 0 0 15px;
}

.header__input {
  position: absolute;
  display: flex;
  left: 265px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.modal__input {
  display: flex;
  border-radius: 8px;
  width: 100%;
  opacity: 0.75;
  height: 32px;
  background-color: #FFFFFF;
  border: 1px solid #888888;
  padding: 8px 16px;
  margin-top: -8px;
}

.modal__input--value {
  font-size: 10px;
  color: #888888;
  margin-left: 2px;
}

select:focus, textarea:focus, input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.icon {
  color: #FFFFFF;
  margin: 0 auto;
}
.icon--small {
  width: 15px !important;
  height: 15px !important;
}
.icon__menu {
  width: 18px;
  height: 12px;
  pointer-events: none;
}
.icon__star {
  position: relative;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  margin-right: 10px;
}

.tag {
  border: 2px solid #02AD00;
  padding: 4px 8px;
  font-size: 12px;
  color: #02AD00;
  border-radius: 8px;
  margin-top: 5px;
  margin-right: 5px;
  cursor: default;
}

.underline {
  border: 1px solid;
  width: 100%;
  z-index: 500;
}
.underline--dark {
  border-color: #888888;
  background-color: #888888;
}
.underline--shine {
  border-color: #CCCCCC;
  background-color: #CCCCCC;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 87px;
  align-items: center;
  opacity: 0.75;
  background-color: #FFFFFF;
  position: absolute;
  border-bottom: 1px solid #CCCCCC;
  left: 0;
  right: 0;
  z-index: 100;
}
.header__overlay {
  position: absolute;
  display: inline-block;
  justify-content: space-between;
  display: flex;
  align-items: center;
  min-width: 100%;
  z-index: 101;
}
@media screen and (min-width: 375px) {
  .header__overlay {
    padding: 1em 2em;
  }
}
@media screen and (max-width: 374px) {
  .header__overlay {
    padding: 1em 1em;
  }
}
.header__logo {
  margin-right: 30px;
  transition: 0.3s;
}
.header__logo:hover {
  transform: scale(1.02) !important;
}
.header__items {
  display: none;
  align-items: center;
}
.header__icon {
  display: flex;
  min-width: 30px;
  min-height: 20px;
  margin-right: 30px;
}

.hero {
  align-items: center;
  background-image: url(/bg.19f8c1d4.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100%;
  min-height: 800px;
}
.hero__section {
  display: flex;
  flex-direction: column;
  padding: 0 15%;
  width: 100%;
}
.hero__title {
  color: #FFFFFF;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}
@media screen and (max-width: 440px) {
  .hero__title {
    text-align: center;
  }
}
.hero__input {
  border-radius: 25px;
  border: 1px solid #888888;
  color: #444444;
  display: block;
  height: 55px;
  opacity: 0.75;
  padding: 0 10px 0 60px !important;
  position: relative;
}
@media screen and (min-width: 375px) {
  .hero__input {
    font-size: 24px;
    max-width: 600px;
  }
}
@media screen and (max-width: 374px) {
  .hero__input {
    font-size: 18px;
    min-width: 250px;
  }
}
.hero__input:focus ~ span, .hero__input:valid ~ span {
  opacity: 0;
}
.hero__search {
  position: relative;
  height: 55px;
  bottom: 55px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m23.79 22.776-5.832-5.832a10.192 10.192 0 0 0 2.512-6.71C20.47 4.586 15.877 0 10.236 0 4.59 0 .003 4.592.003 10.233c0 5.641 4.593 10.233 10.233 10.233 2.565 0 4.912-.947 6.71-2.511l5.833 5.832a.723.723 0 0 0 .506.213.72.72 0 0 0 .505-1.224zM1.435 10.233c0-4.853 3.948-8.796 8.796-8.796 4.853 0 8.797 3.948 8.797 8.796 0 4.848-3.944 8.802-8.797 8.802-4.848 0-8.796-3.949-8.796-8.802z' fill='%23888'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 471px) {
  .hero__search {
    width: 55px;
  }
}
@media screen and (max-width: 470px) {
  .hero__search {
    width: 45px;
  }
}
.hero__search:hover {
  background-color: #444444;
  border-radius: 28px 0 0 28px;
  opacity: 0.7;
}
.hero__placeholder {
  color: #444444;
  height: 0;
  max-width: 300px;
  padding: 0;
  pointer-events: none;
  position: relative;
}
@media screen and (min-width: 481px) {
  .hero__placeholder {
    bottom: 96px;
    font-size: 24px;
    margin: 0 0 0 55px;
  }
}
@media screen and (max-width: 480px) {
  .hero__placeholder {
    bottom: 91px;
    font-size: 16px;
    margin: 0 0 0 50px;
  }
}

.container {
  padding: 2em;
}

.explore {
  display: flex;
  flex-direction: column;
  margin: 2em;
  min-height: 900px;
}
.explore__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.explore__title {
  color: #444444;
  font-size: 32px;
  margin-right: 20px;
  text-transform: uppercase;
}
.explore__button--text {
  text-align: center;
  width: 100%;
}
.explore__components {
  display: flex;
  flex-direction: row;
  height: 375px;
  margin: auto;
  overflow-x: auto;
  width: 100%;
}
.explore__card {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: flex-end;
  margin: 0 auto;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  transition: 0.75s;
  width: 15.5%;
  z-index: 2;
}
.explore__card:not(:last-of-type) {
  margin-right: 20px;
}
.explore__card:hover .explore__subtitles,
.explore__card:hover .explore__location {
  transform: scale(1.02);
  transform: translateY(-10px);
}
.explore__card:hover > *:not(.explore__linear) {
  transform: scale(1.01);
  filter: blur(1px);
}
.explore__image {
  border-radius: 8px;
  display: flex;
  max-height: 350px;
  position: absolute;
  transition: 0.75s;
  width: 100%;
  z-index: 1;
}
.explore__linear {
  background-position: bottom;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  border-radius: 8px;
  position: relative;
  transition: 0.75s;
  visibility: visible;
  z-index: 7;
}
.explore__location {
  display: flex;
  flex-direction: row;
  margin: 5px 15px 10px;
  transition: 0.75s;
  z-index: 6;
}
.explore__subtitles {
  color: #FFFFFF;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  margin: 0 auto;
  max-width: 80%;
  position: relative;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  transition: 0.75s;
  z-index: 5;
}
.explore__subtitles--guide {
  margin: 0 15px;
}
.explore__subtitles--dest {
  margin: 15px;
}
.explore__icon {
  margin-right: 10px;
  min-height: 16px;
  min-width: 15px;
  z-index: 4;
}
.explore__city {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 700;
  margin: 2px 0 -5px;
  z-index: 3;
}

.details {
  position: absolute;
  display: flex;
  width: 100%;
  height: calc(100% - 85px);
  bottom: 0;
  margin: 0;
}
.details__container {
  position: absolute;
  height: 100%;
  width: 600px;
  max-width: 35%;
  padding: 1.5em 2em;
}
.details__map {
  display: flex;
  position: absolute;
  right: 0;
  height: 100%;
  width: 45%;
}
.details__header {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.details__text--header {
  color: #444444;
  font-size: 14px;
  margin-top: -1px;
}
.details__icon--arrow {
  display: flex;
  height: 20px;
  margin-left: 5px;
  margin-top: 10px;
}
.details__button--header {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  right: 2em;
  border: 1px solid #888888;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 8h12V6.667H0V8zm0-3.333h12V3.333H0v1.334zM0 0v1.333h12V0H0z' fill='%23FF6117'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 10px;
}
.details__button--header:hover {
  transform: scale(1.05) !important;
}
.details__city {
  font-size: 24px;
  color: #444444;
}
.details__button--nav {
  background-color: #FFFFFF;
  color: #444444;
  border: 0 solid transparent;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 14px;
  z-index: 1;
}
.details__button--nav:target {
  border: 2px solid #888888;
  border-bottom: 3px solid #FFFFFF;
  border-radius: 8px 8px 0 0;
}
.details__button--nav:first-of-type {
  margin-left: 10px;
}
.details__image {
  max-width: 144px;
  height: 120px;
  border-radius: 8px;
  margin-right: 15px;
}
.details__items {
  margin-top: 15px;
}
.details__rating--text {
  font-size: 12px;
  color: #444444;
}
.details__title {
  font-size: 16px;
  margin-top: 0;
}
.details__grade {
  margin-top: -5px;
}
.details__grade--bold {
  font-weight: bold;
  margin-right: 8px;
}
.details__text--types:not(:last-of-type) {
  margin-right: 10px;
}
.details__options {
  font-size: 12px;
  font-style: italic;
  color: #888888;
}
.details__options--buttons {
  position: absolute;
  right: 2em;
}

.modal {
  background-color: #EEEEEE;
  height: 100%;
  left: 35%;
  max-width: 25%;
  padding: 2em;
  position: absolute;
  width: 400px;
}
.modal__days {
  color: #888888;
  font-size: 16px;
  width: 100%;
  margin-bottom: -10px;
}
.modal__button--margin {
  margin-top: 10px;
}
.modal__select {
  appearance: none;
  border: 1px solid #888888;
  border-radius: 8px;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.065 4.957.49.441a.288.288 0 0 0-.406 0 .28.28 0 0 0 0 .4L4.863 5.56a.288.288 0 0 0 .405 0L10.045.84a.274.274 0 0 0 0-.398.288.288 0 0 0-.406 0L5.065 4.957z' fill='%23444'/%3E%3C/svg%3E");
  background-color: #FFFFFF;
  background-position: center;
  background-position-x: 23px;
  background-repeat: no-repeat;
  color: #000000;
  height: 22px;
  margin: 0 8px;
  opacity: 0.75;
  padding: 0 6px;
  width: 42px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.modal__hour {
  font-size: 10px;
  color: #444444;
  margin-bottom: 5px;
}
.modal__local {
  font-size: 16px;
  color: #444444;
  margin-top: 0;
}
.modal__category {
  margin-bottom: -15px;
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  min-height: 130px;
  padding: 1em 1em 1em 1em;
  min-width: 170px;
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  visibility: hidden;
  opacity: 0;
  z-index: 5000;
}
.dropdown__option {
  top: 20px;
  right: -70px;
  width: 200px;
}
.dropdown--margin {
  margin-top: 35px;
}
.dropdown__item:not(:last-of-type) {
  margin-bottom: 25px;
}
.dropdown__link--text {
  color: #444444;
  font-size: 16px;
}
.dropdown__link--text:hover {
  opacity: 0.75;
}
.dropdown__link--text::before {
  margin: 0 10px 0 0;
}
.dropdown__link--red {
  color: #ED0000;
}
.dropdown__link--plus::before {
  content: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.667 3.667H6.334v2.666H3.667v1.334h2.667v2.666h1.333V7.667h2.667V6.333H7.667V3.667zM7 .333A6.67 6.67 0 0 0 .333 7 6.669 6.669 0 0 0 7 13.667 6.669 6.669 0 0 0 13.667 7 6.67 6.67 0 0 0 7 .333zm0 12A5.34 5.34 0 0 1 1.667 7 5.34 5.34 0 0 1 7 1.667 5.34 5.34 0 0 1 12.334 7 5.34 5.34 0 0 1 7 12.333z' fill='%23444'/%3E%3C/svg%3E");
}
.dropdown__link--calendar::before {
  content: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.334 2h-.667V.667h-1.333V2H3.667V.667H2.334V2h-.667C.933 2 .333 2.6.333 3.333V14c0 .733.6 1.333 1.334 1.333h10.666c.734 0 1.334-.6 1.334-1.333V3.333c0-.733-.6-1.333-1.333-1.333zm0 12H1.667V6.667h10.667V14zm0-8.667H1.667v-2h10.667v2z' fill='%23444'/%3E%3C/svg%3E");
}
.dropdown__link--reorder::before {
  content: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 10 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 0 .333 2.66h2v4.673h1.334V2.66h2L3 0zm4.667 9.34V4.667H6.334V9.34h-2L7 12l2.667-2.66h-2z' fill='%23444'/%3E%3C/svg%3E");
}
.dropdown__link--delete::before {
  content: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 10 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.667 4v6.667H2.334V4h5.333zm-1-4H3.334l-.667.667H.333V2h9.334V.667H7.334L6.667 0zM9 2.667H1v8C1 11.4 1.6 12 2.333 12h5.334C8.4 12 9 11.4 9 10.667v-8z' fill='%23ED0000'/%3E%3C/svg%3E");
}
.dropdown__link--details::before {
  content: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.333 3.667h1.334V5H6.334V3.667zm0 2.666h1.334v4H6.334v-4zm.667-6A6.67 6.67 0 0 0 .333 7 6.669 6.669 0 0 0 7 13.667 6.669 6.669 0 0 0 13.667 7 6.67 6.67 0 0 0 7 .333zm0 12A5.34 5.34 0 0 1 1.667 7 5.34 5.34 0 0 1 7 1.667 5.34 5.34 0 0 1 12.334 7 5.34 5.34 0 0 1 7 12.333z' fill='%23444'/%3E%3C/svg%3E");
}
.dropdown__link--hour::before {
  content: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.994.333A6.663 6.663 0 0 0 .333 7c0 3.68 2.98 6.667 6.66 6.667A6.67 6.67 0 0 0 13.666 7 6.67 6.67 0 0 0 6.994.333zm.006 12A5.332 5.332 0 0 1 1.667 7 5.332 5.332 0 0 1 7 1.667 5.332 5.332 0 0 1 12.334 7 5.332 5.332 0 0 1 7 12.333zm.333-8.666h-1v4l3.5 2.1.5-.82-3-1.78v-3.5z' fill='%23444'/%3E%3C/svg%3E");
}

.is-centered {
  margin: 0px auto;
}

.is-relative {
  position: relative;
  right: 10%;
  top: 0;
}

.is-visible {
  visibility: visible;
  opacity: 1;
}

.in-horizontal-end {
  display: flex;
  justify-content: flex-end;
}

.in-vertical-center {
  display: flex;
  align-items: center;
}

.in-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.in-column {
  display: flex;
  flex-direction: column;
}

.is-absolute-right {
  position: absolute;
  right: 2em;
}

.is-absolute-left {
  position: absolute;
  left: 2em;
}

/*# sourceMappingURL=/main.54166fbf.css.map */