html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

template,
[hidden] {
  display: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: bold;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  width: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Asap Condensed", sans-serif;
  line-height: 1.4;
}

p,
input,
span,
a,
button,
li,
select,
label {
  font-family: "Roboto", sans-serif;
  line-height: 1.1;
}

svg {
  max-width: 25px;
  max-height: 25px;
}

strong {
  color: #000000;
}

a, button {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

select, input {
  border-radius: 8px;
  border: 1px solid #888888;
  background-color: #FFFFFF;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.065 4.957.49.441a.288.288 0 0 0-.406 0 .28.28 0 0 0 0 .4L4.863 5.56a.288.288 0 0 0 .405 0L10.045.84a.274.274 0 0 0 0-.398.288.288 0 0 0-.406 0L5.065 4.957z' fill='%23444'/%3E%3C/svg%3E");
  background-position-y: center;
  background-repeat: no-repeat;
}

.button {
  display: inline-block;
  cursor: pointer;
}
.button:not(.button--borderless) {
  border: 1px solid #FF6117;
}
.button--scroll {
  width: 10px;
  height: 15px;
}
.button--right {
  margin-right: 50px;
}
.button--left {
  margin-right: 20px;
}
.button--orange {
  background-color: #FF6117;
  color: #FFFFFF;
  transition: 0.2s;
}
.button--borderless {
  border: transparent;
  background-color: #FFFFFF;
}
.button--login {
  padding: 15px 0;
  border-radius: 15px;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 375px) {
  .button--login {
    width: 120px;
  }
}
@media screen and (max-width: 374px) {
  .button--login {
    width: 90px;
  }
}
.button--upper {
  text-transform: uppercase;
}
.button--save {
  border-radius: 8px;
  padding: 5px 16px;
}
.button--cancel {
  color: #FF6117;
}
.button--orange:hover {
  transform: scale(1.02) !important;
}
.button--round {
  border-radius: 50%;
  background-color: #FFFFFF;
  opacity: 0.6;
}
.button__block {
  display: inline-block;
  text-align: center;
}
.button__holder {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.button__explore {
  align-items: center;
  align-self: center;
  border-radius: 8px;
  border: 1px solid #888888;
  color: #FF6117;
  display: none;
  font-size: 14px;
  transition: 0.3s;
}
@media screen and (min-width: 651px) {
  .button__explore {
    height: 32px;
    max-height: 190px;
    padding: 10px 15px;
  }
}
@media screen and (max-width: 650px) {
  .button__explore {
    max-height: 65px;
    max-width: 190px;
    min-height: 32px;
    padding: 5px 15px;
  }
}
.button__menu {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  height: 30px;
  justify-content: center;
  padding: 0;
  width: 30px;
}
.button__menu:hover {
  background-color: #CCCCCC;
  border-radius: 25px;
  background-size: 25px;
}
.button--margin {
  margin-top: 5px;
  margin-right: 2px;
}
.button--modal {
  margin-top: -10px;
  z-index: 993;
}
.button--collapse {
  position: relative;
  display: flex;
  align-self: center;
  width: 40px;
  height: 40px;
  border-radius: 0 24px 24px 0;
  z-index: 9997;
  background-color: #FFFFFF;
  box-shadow: 5px 2px 5px 0px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 5px 2px 5px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 5px 2px 5px 0px rgba(0, 0, 0, 0.26);
}
.button--collapse::before {
  display: flex;
  align-self: center;
  content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 17h2v.5H3v1h1v.5H2v1h3v-4H2v1zm1-9h1V4H2v1h1v3zm-1 3h1.8L2 13.1v.9h3v-1H3.2L5 10.9V10H2v1zm5-6v2h14V5H7zm0 14h14v-2H7v2zm0-6h14v-2H7v2z' fill='%23FF6117'/%3E%3C/svg%3E");
}
.button--google {
  position: relative;
  display: flex;
  margin: 24px auto;
  padding: 16px 20px;
  max-width: 350px;
  min-height: 50px;
  align-items: center;
  border-radius: 16px;
  background-color: #FFFFFF;
  font-size: 16px;
  color: #FF6117;
}
.button--google::before {
  content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.992 8.15c0-.656-.054-1.134-.172-1.63H8.16v2.958h4.496c-.09.736-.58 1.843-1.668 2.587l-.015.1 2.422 1.833.168.016c1.54-1.39 2.43-3.437 2.43-5.864z' fill='%234285F4'/%3E%3Cpath d='M8.16 15.945c2.202 0 4.052-.709 5.403-1.931l-2.575-1.949c-.69.47-1.614.797-2.829.797A4.902 4.902 0 0 1 3.518 9.55l-.096.008-2.519 1.905-.033.09c1.342 2.604 4.098 4.393 7.29 4.393z' fill='%23FF6117'/%3E%3Cpath d='M3.518 9.55a4.807 4.807 0 0 1-.272-1.577c0-.55.1-1.081.263-1.577l-.005-.106-2.55-1.935-.084.039A7.832 7.832 0 0 0 0 7.973a7.83 7.83 0 0 0 .87 3.578L3.518 9.55z' fill='%23FBBC05'/%3E%3Cpath d='M8.16 3.083c1.531 0 2.565.646 3.154 1.187l2.303-2.197C12.203.788 10.362 0 8.159 0 4.97 0 2.212 1.79.87 4.394l2.638 2.002A4.922 4.922 0 0 1 8.16 3.083z' fill='%23EB4335'/%3E%3C/svg%3E");
  margin-right: 15px;
}
.button--show {
  width: 16px;
  height: 16px;
  background-color: #FFFFFF;
  position: absolute;
  display: flex;
  right: 24px;
  top: 143px;
}
.button--show::before {
  content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 4c2.527 0 4.78 1.42 5.88 3.667a6.432 6.432 0 0 1-1.607 2.08l.94.94a7.867 7.867 0 0 0 2.12-3.02c-1.153-2.927-4-5-7.333-5a7.9 7.9 0 0 0-2.427.38l1.1 1.1A6.739 6.739 0 0 1 8 4zm-.713.76 1.38 1.38c.38.167.686.473.853.853l1.38 1.38c.053-.226.093-.466.093-.713A2.989 2.989 0 0 0 8 4.667c-.247 0-.48.033-.713.093zM1.34 2.58l1.787 1.787a7.825 7.825 0 0 0-2.46 3.3c1.153 2.926 4 5 7.333 5a7.819 7.819 0 0 0 2.88-.547l2.28 2.28.94-.94L2.28 1.633l-.94.947zm5 5 1.74 1.74a.318.318 0 0 1-.08.013c-.92 0-1.667-.746-1.667-1.666 0-.034.007-.054.007-.087zM4.073 5.313 5.24 6.48a3.005 3.005 0 0 0 3.94 3.947l.653.653A6.95 6.95 0 0 1 8 11.333a6.514 6.514 0 0 1-5.88-3.666 6.601 6.601 0 0 1 1.953-2.354z' fill='%23444'/%3E%3C/svg%3E");
}
.button--center {
  margin: 0 auto;
}
.button--create {
  margin: 24px 0;
  font-size: 16px;
  color: #FF6117;
}

.input {
  padding: 0 0 0 15px;
}

select:focus, textarea:focus, input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.icon {
  color: #FFFFFF;
  margin: 0 auto;
}
.icon--small {
  width: 15px !important;
  height: 15px !important;
}
.icon__menu {
  width: 18px;
  height: 12px;
  pointer-events: none;
}
.icon__info {
  width: 22px;
  height: 20px;
  margin-top: 2px;
  margin-left: 2px;
}
.icon__star {
  position: relative;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  margin-right: 8px;
}
.icon__checked {
  width: 18px;
  height: 17px;
  margin-right: 1px;
}
.icon__close {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9.667 1.273-.94-.94L5 4.06 1.273.333l-.94.94L4.06 5 .333 8.727l.94.94L5 5.94l3.727 3.727.94-.94L5.94 5l3.727-3.727z' fill='%23FF6117'/%3E%3C/svg%3E");
  width: 10px;
  height: 10px;
  padding: 0;
  background-color: transparent;
  border: none;
}
.icon__arrow {
  width: 8px;
  height: 12px;
  margin-top: 30px;
  padding: 0;
  background-color: transparent;
  border: none;
}
.icon__arrow--left {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41 1.41 6 0 0 6l6 6 1.41-1.41L2.83 6l4.58-4.59z' fill='%23FF6117'/%3E%3C/svg%3E");
  margin-right: 25px;
}
.icon__arrow--right {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 0 .59 1.41 5.17 6 .59 10.59 2 12l6-6-6-6z' fill='%23FF6117'/%3E%3C/svg%3E");
}

.tag {
  position: relative;
  border: 2px solid #02AD00;
  padding: 2px 8px;
  font-size: 12px;
  color: #02AD00;
  border-radius: 8px;
  margin-top: 5px;
  margin-right: 5px;
  cursor: default;
}
.tag__margin {
  margin: -9px 5px 9px 5px;
}

.underline {
  border: 1px solid;
  width: 100%;
  z-index: 1;
}
.underline--dark {
  border-color: #888888;
  background-color: #888888;
}
.underline--shine {
  border-color: #CCCCCC;
  background-color: #CCCCCC;
}
.underline--details--margin {
  margin-top: 7px;
}
.underline--modal--margin {
  margin-bottom: 30px;
  margin-top: 0;
}
.underline--timeline--margin {
  margin-bottom: 0;
}

.select {
  background-position-x: 25px;
  color: #000000;
  height: 22px;
  margin: 0 8px;
  opacity: 0.75;
  padding: 0 6px;
  width: 42px;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 87px;
  align-items: center;
  background-color: #FFFFFF;
  position: absolute;
  border-bottom: 1px solid #CCCCCC;
  left: 0;
  right: 0;
  z-index: 100;
}
.header__overlay {
  position: absolute;
  display: inline-block;
  justify-content: space-between;
  display: flex;
  align-items: center;
  min-width: 100%;
  z-index: 101;
}
@media screen and (min-width: 375px) {
  .header__overlay {
    padding: 1em 2em;
  }
}
@media screen and (max-width: 374px) {
  .header__overlay {
    padding: 1em 1em;
  }
}
.header__input {
  bottom: 0;
  display: flex;
  left: 265px;
  margin: auto 0;
  position: absolute;
  top: 0;
}
.header__logo {
  margin-right: 30px;
  transition: 0.3s;
}
.header__logo:hover {
  transform: scale(1.02) !important;
}
.header__items {
  display: none;
  align-items: center;
}
.header__icon {
  display: flex;
  min-width: 30px;
  min-height: 20px;
  margin-right: 30px;
}

.hero {
  align-items: center;
  background-image: url(/bg.19f8c1d4.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100%;
  min-height: 800px;
}
.hero__section {
  display: flex;
  flex-direction: column;
  padding: 0 15%;
  width: 100%;
}
.hero__title {
  color: #FFFFFF;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}
@media screen and (max-width: 440px) {
  .hero__title {
    text-align: center;
  }
}
.hero__input {
  border-radius: 8px;
  border: 1px solid #888888;
  color: #444444;
  display: block;
  height: 55px;
  padding: 0 10px 0 60px !important;
  position: relative;
}
@media screen and (min-width: 375px) {
  .hero__input {
    font-size: 24px;
    max-width: 600px;
  }
}
@media screen and (max-width: 374px) {
  .hero__input {
    font-size: 18px;
    min-width: 250px;
  }
}
.hero__input:focus ~ span, .hero__input:valid ~ span {
  opacity: 0;
}
.hero__search {
  position: relative;
  height: 55px;
  bottom: 55px;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m23.79 22.776-5.832-5.832a10.192 10.192 0 0 0 2.512-6.71C20.47 4.586 15.877 0 10.236 0 4.59 0 .003 4.592.003 10.233c0 5.641 4.593 10.233 10.233 10.233 2.565 0 4.912-.947 6.71-2.511l5.833 5.832a.723.723 0 0 0 .506.213.72.72 0 0 0 .505-1.224zM1.435 10.233c0-4.853 3.948-8.796 8.796-8.796 4.853 0 8.797 3.948 8.797 8.796 0 4.848-3.944 8.802-8.797 8.802-4.848 0-8.796-3.949-8.796-8.802z' fill='%23888'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 471px) {
  .hero__search {
    width: 55px;
  }
}
@media screen and (max-width: 470px) {
  .hero__search {
    width: 45px;
  }
}
.hero__search:hover {
  background-color: #444444;
  border-radius: 8px 0 0 8px;
  opacity: 0.7;
}
.hero__placeholder {
  color: #888888;
  height: 0;
  max-width: 300px;
  padding: 0;
  pointer-events: none;
  position: relative;
}
@media screen and (min-width: 481px) {
  .hero__placeholder {
    bottom: 96px;
    font-size: 24px;
    margin: 0 0 0 55px;
  }
}
@media screen and (max-width: 480px) {
  .hero__placeholder {
    bottom: 91px;
    font-size: 16px;
    margin: 0 0 0 50px;
  }
}

.container {
  padding: 2em;
}

.explore {
  display: flex;
  flex-direction: column;
  margin: 2em;
  min-height: 900px;
}
.explore__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.explore__title {
  color: #444444;
  font-size: 32px;
  margin-right: 20px;
  text-transform: uppercase;
}
.explore__button--text {
  text-align: center;
  width: 100%;
}
.explore__components {
  display: flex;
  flex-direction: row;
  height: 370px;
  margin: auto;
  overflow-x: auto;
  width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.explore__components::-webkit-scrollbar {
  display: none;
}
.explore__card {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: flex-end;
  margin: 0 auto;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  transition: 0.75s;
  width: 15.5%;
  z-index: 2;
}
.explore__card:not(:last-of-type) {
  margin-right: 20px;
}
.explore__card:hover .explore__subtitles,
.explore__card:hover .explore__location,
.explore__card:hover .explore__days {
  transform: scale(1.02);
  transform: translateY(-10px);
}
.explore__card:hover > *:not(.explore__linear) {
  transform: scale(1.01);
  filter: blur(1px);
}
.explore__image {
  border-radius: 8px;
  display: flex;
  max-height: 350px;
  position: absolute;
  transition: 0.75s;
  width: 100%;
  z-index: 1;
}
.explore__linear {
  background-position: bottom;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  border-radius: 8px;
  position: relative;
  transition: 0.75s;
  visibility: visible;
  z-index: 7;
}
.explore__location {
  display: flex;
  flex-direction: row;
  margin: 5px 15px 10px;
  transition: 0.75s;
  z-index: 6;
}
.explore__subtitles {
  color: #FFFFFF;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  margin: 0 auto;
  max-width: 80%;
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transition: 0.75s;
  z-index: 5;
  margin: 0 15px;
}
.explore__icon {
  margin-top: 3px;
  margin-right: 10px;
  height: 16px;
  width: 16px;
  z-index: 4;
}
.explore__city {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  margin: 2px 0 -5px;
  z-index: 3;
}
.explore__days {
  color: #FFFFFF;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-top: 8px;
  transition: 0.75s;
}
.explore__days::before {
  content: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.333 2h-.666V.667h-1.334V2H3.667V.667H2.333V2h-.666C.933 2 .333 2.6.333 3.333V14c0 .733.6 1.333 1.334 1.333h10.666c.734 0 1.334-.6 1.334-1.333V3.333c0-.733-.6-1.333-1.334-1.333zm0 12H1.667V6.667h10.666V14zm0-8.667H1.667v-2h10.666v2z' fill='%23fff'/%3E%3C/svg%3E");
  margin: 0 10px 0 15px;
}
.explore__scroll {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.explore__footer {
  width: 100%;
  height: 65px;
  background-color: #444444;
  margin-top: 90px;
}

.details {
  position: absolute;
  display: flex;
  width: 100%;
  height: calc(100% - 85px);
  bottom: 0;
  margin: 0;
}
.details__container {
  position: relative;
  height: 100%;
  width: 475px;
  min-width: 450px;
  padding: 20px 2em;
  background-color: white;
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: solid 1px #CCCCCC;
}
.details__map {
  display: flex;
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.details__header {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: -10px;
  margin-bottom: 10px;
}
.details__text--header {
  color: #444444;
  font-size: 14px;
  font-weight: normal;
}
.details__icon--arrow {
  display: flex;
  height: 20px;
  margin-left: 5px;
  margin-top: 10px;
}
.details__city {
  font-size: 24px;
  color: #444444;
}
.details__button--nav {
  background-color: #FFFFFF;
  color: #444444;
  border: 0 solid transparent;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 14px;
  z-index: 1;
  margin-bottom: -15px;
}
.details__button--nav.is-active {
  border: 2px solid #888888;
  border-bottom: 4px solid #FFFFFF;
  border-radius: 8px 8px 5px 5px;
}
.details__button--nav:first-of-type {
  margin-left: 10px;
}
.details__search {
  margin: 24px 0;
}
.details__select {
  background-position-x: 90%;
  width: 45%;
  height: 32px;
  margin-right: 10px;
  padding: 0 16px;
  color: #888888;
}
.details__input {
  position: absolute;
  width: 47%;
  height: 32px;
  left: 47%;
  padding-left: 30px;
}
.details__input:focus ~ span, .details__input:valid ~ span {
  opacity: 0;
}
.details__magnifier {
  position: relative;
  left: -5px;
  width: 30px;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='13' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m23.79 22.776-5.832-5.832a10.192 10.192 0 0 0 2.512-6.71C20.47 4.586 15.877 0 10.236 0 4.59 0 .003 4.592.003 10.233c0 5.641 4.593 10.233 10.233 10.233 2.565 0 4.912-.947 6.71-2.511l5.833 5.832a.723.723 0 0 0 .506.213.72.72 0 0 0 .505-1.224zM1.435 10.233c0-4.853 3.948-8.796 8.796-8.796 4.853 0 8.797 3.948 8.797 8.796 0 4.848-3.944 8.802-8.797 8.802-4.848 0-8.796-3.949-8.796-8.802z' fill='%23888'/%3E%3C/svg%3E");
  background-position-x: 15px;
  background-position-y: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}
.details__magnifier:hover {
  background-color: #444444;
  border-radius: 8px 0 0 8px;
  opacity: 0.7;
}
.details__placeholder {
  position: relative;
  display: flex;
  align-self: center;
  color: #888888;
  pointer-events: none;
}
.details__image {
  min-width: 145px;
  height: 120px;
  border-radius: 8px;
  margin-right: 15px;
}
.details__items {
  margin-top: 15px;
  margin-bottom: 25px;
}
.details__grid.is-showing {
  display: flex;
}
.details__grid:not(.is-showing) {
  display: none;
}
.details__title {
  font-size: 16px;
  margin-top: 0;
}
.details__grade {
  margin-top: -6px;
}
.details__grade--margin {
  margin-right: 20px;
}
.details__grade--bold {
  font-weight: bold;
  margin-right: 8px;
}
.details__rating--modal {
  margin-top: 24px;
}
.details__text--types:not(:last-of-type) {
  margin-right: 10px;
}
.details__button--info {
  position: absolute;
  right: 5em;
  margin-top: -20px;
}
.details__button--menu {
  position: absolute;
  right: 3em;
  margin-top: -20px;
}
.details__rating--text {
  font-size: 12px;
  color: #444444;
  min-width: 300px;
  height: 22px;
}
.details__text--options {
  position: absolute;
  left: 190px;
  margin-top: -20px;
}
.details__text--guide {
  font-size: 14px;
  color: #444444;
}
.details__text--guide::before {
  content: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.334 2h-.667V.667h-1.333V2H3.667V.667H2.334V2h-.667C.933 2 .333 2.6.333 3.333V14c0 .733.6 1.333 1.334 1.333h10.666c.734 0 1.334-.6 1.334-1.333V3.333c0-.733-.6-1.333-1.333-1.333zm0 12H1.667V6.667h10.667V14zm0-8.667H1.667v-2h10.667v2z' fill='%23444'/%3E%3C/svg%3E");
  margin-right: 5px;
}
.details__text--add {
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
}

.timeline {
  display: none;
  background-color: #FFFFFF;
  height: 100%;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: hidden;
  flex-direction: column;
  padding: 20px 0 2em 20px;
  position: relative;
  max-width: 350px;
}
.timeline__headline {
  padding-right: 20px;
}
.timeline__header {
  width: 100%;
  display: flex;
  position: relative;
  right: 5px;
  justify-content: space-between;
}
.timeline__input {
  display: flex;
  height: 32px;
  margin-top: -8px;
  opacity: 0.75;
  padding: 8px 16px;
  width: 75%;
}
.timeline__input--value {
  color: #888888;
  font-size: 10px;
}
.timeline__days {
  color: #888888;
  font-size: 16px;
  margin-bottom: -10px;
  margin-left: 15px;
}
.timeline__list {
  color: #444444;
  counter-reset: part 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 5px;
  scrollbar-width: none;
  width: 100%;
}
.timeline__time {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: -15px;
  margin-bottom: 8px;
  padding-right: 12px;
}
.timeline__item:not(:first-child) {
  counter-increment: part;
}
.timeline__item {
  max-width: 280px;
  margin-left: -10px;
  margin-right: 10px;
}
.timeline__item::before {
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 25px;
  border: 1px solid #888888;
  content: "" counter(part) "";
  display: flex;
  font-size: 12px;
  height: 24px;
  justify-content: center;
  left: -30px;
  margin-top: 5px;
  position: relative;
  width: 24px;
  z-index: 1;
}
.timeline__item:first-of-type:after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  left: 31px;
  background-color: transparent;
  border: 1px dashed #888888;
  z-index: 0;
  margin-top: -130px;
}
.timeline__item:not(:first-of-type) {
  margin-top: 10px;
}
.timeline__hour {
  display: flex;
  position: absolute;
  left: 0;
  font-size: 10px;
  color: #444444;
  margin-bottom: 5px;
  margin-top: -5px;
}
.timeline__local {
  font-size: 16px;
  color: #444444;
  margin-top: -10px;
}
.timeline__category {
  margin-bottom: -5px;
}
.timeline__footer {
  align-items: center;
  background-color: #FFFFFF;
  bottom: 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 65px;
  justify-content: space-between;
  left: 0;
  position: absolute;
  padding: 0 24px;
  width: 100%;
  z-index: 999;
}

.dropdown {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  margin-top: 0;
  min-height: 130px;
  min-width: 170px;
  padding: 1em 1em 1em 1em;
  position: absolute;
  right: 0;
  visibility: hidden;
  z-index: 9999;
}
.dropdown__option {
  width: 200px;
}
.dropdown--margin {
  margin-top: 15px;
}
.dropdown__item:not(:last-of-type) {
  margin-bottom: 25px;
}
.dropdown__text {
  color: #444444;
  font-size: 16px;
}
.dropdown__text:hover {
  opacity: 0.75;
}
.dropdown__text::before {
  margin: 0 10px 0 0;
}
.dropdown__text--red {
  color: #ED0000;
}
.dropdown__link--plus::before {
  content: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.667 3.667H6.334v2.666H3.667v1.334h2.667v2.666h1.333V7.667h2.667V6.333H7.667V3.667zM7 .333A6.67 6.67 0 0 0 .333 7 6.669 6.669 0 0 0 7 13.667 6.669 6.669 0 0 0 13.667 7 6.67 6.67 0 0 0 7 .333zm0 12A5.34 5.34 0 0 1 1.667 7 5.34 5.34 0 0 1 7 1.667 5.34 5.34 0 0 1 12.334 7 5.34 5.34 0 0 1 7 12.333z' fill='%23444'/%3E%3C/svg%3E");
}
.dropdown__link--calendar::before {
  content: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.334 2h-.667V.667h-1.333V2H3.667V.667H2.334V2h-.667C.933 2 .333 2.6.333 3.333V14c0 .733.6 1.333 1.334 1.333h10.666c.734 0 1.334-.6 1.334-1.333V3.333c0-.733-.6-1.333-1.333-1.333zm0 12H1.667V6.667h10.667V14zm0-8.667H1.667v-2h10.667v2z' fill='%23444'/%3E%3C/svg%3E");
}
.dropdown__link--reorder::before {
  content: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 10 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 0 .333 2.66h2v4.673h1.334V2.66h2L3 0zm4.667 9.34V4.667H6.334V9.34h-2L7 12l2.667-2.66h-2z' fill='%23444'/%3E%3C/svg%3E");
}
.dropdown__link--dump::before {
  content: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 10 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.667 4v6.667H2.334V4h5.333zm-1-4H3.334l-.667.667H.333V2h9.334V.667H7.334L6.667 0zM9 2.667H1v8C1 11.4 1.6 12 2.333 12h5.334C8.4 12 9 11.4 9 10.667v-8z' fill='%23ED0000'/%3E%3C/svg%3E");
}
.dropdown__link--delete::before {
  content: url("data:image/svg+xml,%3Csvg width='10' height='12' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9.667 1.273-.94-.94L5 4.06 1.273.333l-.94.94L4.06 5 .333 8.727l.94.94L5 5.94l3.727 3.727.94-.94L5.94 5l3.727-3.727z' fill='%23ED0000'/%3E%3C/svg%3E");
}
.dropdown__link--details::before {
  content: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.333 3.667h1.334V5H6.334V3.667zm0 2.666h1.334v4H6.334v-4zm.667-6A6.67 6.67 0 0 0 .333 7 6.669 6.669 0 0 0 7 13.667 6.669 6.669 0 0 0 13.667 7 6.67 6.67 0 0 0 7 .333zm0 12A5.34 5.34 0 0 1 1.667 7 5.34 5.34 0 0 1 7 1.667 5.34 5.34 0 0 1 12.334 7 5.34 5.34 0 0 1 7 12.333z' fill='%23444'/%3E%3C/svg%3E");
}
.dropdown__link--hour::before {
  content: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.994.333A6.663 6.663 0 0 0 .333 7c0 3.68 2.98 6.667 6.66 6.667A6.67 6.67 0 0 0 13.666 7 6.67 6.67 0 0 0 6.994.333zm.006 12A5.332 5.332 0 0 1 1.667 7 5.332 5.332 0 0 1 7 1.667 5.332 5.332 0 0 1 12.334 7 5.332 5.332 0 0 1 7 12.333zm.333-8.666h-1v4l3.5 2.1.5-.82-3-1.78v-3.5z' fill='%23444'/%3E%3C/svg%3E");
}
.dropdown__link--check::before {
  content: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 7.78 1.22 5l-.947.94L4 9.667l8-8-.94-.94L4 7.78z' fill='%23444'/%3E%3C/svg%3E");
}
.dropdown__link--save::before {
  content: url("data:image/svg+xml,%3Csvg width='10' height='12' viewBox='0 0 10 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.333 0H1.667C.933 0 .333.6.333 1.333V12L5 10l4.667 2V1.333C9.667.6 9.067 0 8.333 0zm0 10L5 8.547 1.667 10V1.333h6.666V10z' fill='%23444'/%3E%3C/svg%3E");
}
.dropdown__link--share::before {
  content: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 9.72c-.507 0-.96.2-1.307.513L3.94 7.467C3.973 7.313 4 7.16 4 7c0-.16-.027-.313-.06-.467l4.7-2.74A1.997 1.997 0 0 0 12 2.333c0-1.106-.893-2-2-2s-2 .894-2 2c0 .16.027.314.06.467l-4.7 2.74A1.997 1.997 0 0 0 0 7a1.997 1.997 0 0 0 3.36 1.46l4.747 2.773a1.88 1.88 0 0 0-.054.434A1.95 1.95 0 0 0 10 13.613a1.949 1.949 0 0 0 1.947-1.946A1.949 1.949 0 0 0 10 9.72zm0-8.053c.367 0 .667.3.667.666 0 .367-.3.667-.667.667a.669.669 0 0 1-.667-.667c0-.366.3-.666.667-.666zm-8 6A.669.669 0 0 1 1.333 7c0-.367.3-.667.667-.667.367 0 .667.3.667.667 0 .367-.3.667-.667.667zm8 4.68a.669.669 0 0 1-.667-.667c0-.367.3-.667.667-.667.367 0 .667.3.667.667 0 .367-.3.667-.667.667z' fill='%23444'/%3E%3C/svg%3E");
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  visibility: hidden;
}
.modal__close {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 23, 55, 0.2);
}
.modal__container--spots {
  max-height: 580px;
}
.modal__container {
  position: absolute;
  display: flex;
  border-radius: 8px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 24px 2em;
  background-color: white;
  z-index: 9999;
}
@media screen and (min-width: 820px) {
  .modal__container {
    max-width: 800px;
  }
}
@media screen and (max-width: 819px) {
  .modal__container {
    width: 90%;
  }
}
.modal__container--guide {
  height: 650px;
  bottom: 0;
}
.modal__title {
  color: #444444;
  margin: 0 0 8px;
}
@media screen and (min-width: 481px) {
  .modal__title {
    font-size: 32px;
  }
}
@media screen and (max-width: 480px) {
  .modal__title {
    font-size: 28px;
    max-width: 200px;
  }
}
.modal__text {
  margin-top: 25px;
  font-size: 16px;
  color: #444444;
}
.modal__select {
  display: flex;
  align-items: center;
  color: #888888;
}
.modal__list {
  display: flex;
  position: absolute;
  margin-left: -10px;
  border-right: solid 1px #888888;
  width: 270px;
  height: 400px;
  top: 200px;
  overflow: auto;
}
.modal__item:not(:last-of-type) {
  margin-bottom: 32px;
}
.modal__item.is-active {
  border: 2px solid #888888;
  border-bottom: 4px solid #FFFFFF;
  border-radius: 8px 8px 5px 5px;
}
.modal__content {
  position: relative;
  display: flex;
  margin-top: 75px;
  height: 100%;
  max-width: 430px;
}
.modal__link {
  font-size: 16px;
  color: #FF6117;
  text-align: center;
}
.modal__gallery {
  overflow: auto;
  background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 65.41%);
}
.modal__images {
  height: 200px;
  width: auto;
  margin: 30px 15px 0 0;
}
.modal__footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.login {
  position: absolute;
  visibility: hidden;
  max-width: 580px;
  z-index: 9999;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-color: white;
  padding: 32px 40px;
  border-radius: 8px;
}
@media screen and (min-width: 450px) {
  .login {
    height: 650px;
  }
}
@media screen and (max-width: 449px) {
  .login {
    min-height: 650px;
    max-height: 720px;
  }
}
.login__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  color: #444444;
  margin-top: -10px;
  margin-bottom: -10px;
}
.login__desc {
  font-size: 16px;
  font-weight: normal;
  color: #444444;
  margin: -5px 0 0;
}
.login__else {
  text-align: center;
  color: #888888;
  margin: 24px 0;
  font-size: 16px;
}
.login__container {
  display: flex;
  position: absolute;
  width: calc(100% - 80px);
}
.login__input {
  height: 48px;
  border-radius: 8px;
  margin: 0;
  padding: 0 48px 0 24px;
  color: #444444;
  width: 100%;
}
.login__input:focus ~ span, .login__input:valid ~ span {
  opacity: 0;
}
.login__input:first-of-type {
  margin-bottom: 24px;
}
.login__label {
  font-size: 16px;
  margin: 0 0 10px;
  color: #444444;
}
.login__recover {
  text-align: right;
  color: #FF6117;
  margin: 24px 0;
}
.login__close {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background-color: #444444;
  opacity: 0.35;
  visibility: hidden;
}

.is-centered {
  margin: 0 auto;
}

.is-relative {
  position: relative;
  right: 10%;
  top: 0;
}

.is-visible {
  visibility: visible;
}

.in-horizontal-end {
  display: flex;
  justify-content: flex-end;
}

.in-vertical-center {
  display: flex;
  align-items: center;
}

.in-vertical-end {
  display: flex;
  align-items: flex-end;
}

.in-row {
  display: flex;
  flex-direction: row;
}

.in-column {
  flex-direction: column;
}

.is-absolute-right {
  position: absolute;
  right: 2em;
}

.is-absolute-left {
  position: absolute;
  left: 2em;
}

.grabbing {
  cursor: grabbing;
}

.is-showing {
  display: flex;
}

.is-hidden {
  display: none;
}

/*# sourceMappingURL=/main.54166fbf.css.map */