html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

template,
[hidden] {
  display: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: bold;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  width: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Asap Condensed", sans-serif;
  line-height: 1.4;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 1.1;
}

svg {
  max-width: 25px;
  max-height: 25px;
}

span {
  color: #FFFFFF;
}

strong {
  color: #000000;
}

.header {
  align-items: center;
  background-image: url(/bg.19f8c1d4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  min-height: 800px;
  height: 100%;
}
.header__hero {
  display: flex;
  flex-direction: column;
  padding: 0 15%;
  width: 100%;
}
.header__title {
  font-size: 48px;
  color: #FFFFFF;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em 0;
  align-items: center;
  opacity: 0.7;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  right: 0;
}
.navbar__overlay {
  position: absolute;
  display: inline-block;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0.35em 2em;
  min-width: 100%;
}

.container {
  padding: 2em;
}

.button {
  display: inline-block;
  cursor: pointer;
}
.button:not(.button--borderless) {
  border: 2px solid #FF6117;
}
.button--login {
  border-radius: 15px;
  width: 120px;
  padding: 10px;
  background-color: #FF6117;
  color: #FFFFFF;
}
.button--round {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.6;
}
.button__block {
  display: inline-block;
  text-align: center;
}
.button__holder {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.button__centralized {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  padding: 0 0 0 15px;
}
.input__header {
  height: 50px;
  border-radius: 25px;
  border: none;
  opacity: 0.8;
  width: 600px;
  padding: 0 0 0 50px !important;
  color: #000000;
}

.is-centered {
  margin: 0px auto;
}

.is-relative {
  position: relative;
  right: 10%;
  top: 0;
}

.has-margin-right {
  margin-left: 0;
  margin-right: 10px !important;
}

.icon {
  color: white;
  margin: 0 auto;
}
.icon--small {
  width: 15px !important;
  height: 15px !important;
}

.explore {
  display: flex;
  flex-direction: column;
  min-height: 800px;
  margin: 2em;
}
.explore__title {
  font-size: 32px;
  color: #444444;
}
.explore__components {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 24px auto;
}
.explore__card {
  display: flex;
  width: 200px;
  max-height: 300px;
  border-radius: 8px;
  margin-right: 20px;
  position: relative;
  background-image: url(/roteiro-mariana.dadf1e0d.png);
  z-index: 3;
}
.explore__linear {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background-size: 150px;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 150px;
  justify-content: flex-end;
  margin-top: 125px;
  border-radius: 8px;
  z-index: 2;
}
.explore__location {
  display: flex;
  flex-direction: row;
  margin: 5px 15px 10px;
  z-index: 1;
}
.explore__subtitles {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
  margin: 0 15px;
  z-index: 1;
}
.explore__icon {
  width: 12px;
  height: 16px;
  margin-right: 10px;
  z-index: 1;
}
.explore__city {
  font-size: 14px;
  margin-top: 2px;
  color: #FFFFFF;
  z-index: 1;
}

/*# sourceMappingURL=/main.54166fbf.css.map */