doctype html
html#results(lang="en")
  include ./templates/_head.pug
  body
    include ./templates/_header.pug
    include ./templates/_results-section.pug
    include ./templates/_results-dropdown.pug
    include ./assets/icons.svg
    

