.button {
  display: inline-block;
  cursor: pointer;

  &:not(.button--borderless) {
    border: 2px solid $orange;
  }

  &--orange {
    background-color: $orange;
    color: $white;
    transition: .2s;
  }

  &--login {
    padding: 15px 0;
    border-radius: 15px;

    @media screen and (min-width: 375px) {
      width: 120px;
    }

    @media screen and (max-width: 374px) {
      width: 90px;
    }
  }

  &--save {
    border-radius: 8px;
    padding: 5px 16px;
  }

  &--orange:hover {
    @include hover-scale-min;
  }

  &--round {
    border-radius: 50%;
    background-color: $white;
    opacity: .6;
  }

  &__block {
    display: inline-block;
    text-align: center;
  }

  &__holder {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  &__explore {
    align-items: center;
    align-self: center;
    border-radius: 8px;
    border: 1px solid $gray2;
    color: $orange;
    display: none;
    font-size: 14px;
    transition: .3s;


    @media screen and (min-width: 651px) {
      height: 32px;
      max-height: 190px;
      padding: 10px 15px;
    }

    @media screen and (max-width: 650px) {
      max-height: 65px;
      max-width: 190px;
      min-height: 32px;
      padding: 5px 15px;
    }
  }

  &__menu {
    align-items: center;
    background-color: transparent;
    border: none;
    display: flex;
    height: 30px;
    justify-content: center;
    padding: 0;
    width: 30px;
  }

  &__menu:hover {
    background-color: $gray1;
    border-radius: 25px;
    background-size: 25px;
  }


  &--margin {
    margin-top: 5px;
    margin-right: 2px;
  }

  &--modal {
    margin-top: -10px;
    z-index: 993;
  }
}
