.icon {
  color: $white;
  margin: 0 auto;

  &--small {
    width: 15px !important;
    height: 15px !important;
  }

  &__menu {
    width: 18px;
    height: 12px;
    pointer-events: none;
  }

  &__info {
    width: 22px;
    height: 20px;
    margin-top: 2px;
    margin-left: 2px;
  }

  &__star {
    position: relative;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-right: 8px;
  }
  
  &__checked {
    width: 18px;
    height: 17px;
    margin-right: 1px;
  }
  
  &__close {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9.667 1.273-.94-.94L5 4.06 1.273.333l-.94.94L4.06 5 .333 8.727l.94.94L5 5.94l3.727 3.727.94-.94L5.94 5l3.727-3.727z' fill='%23FF6117'/%3E%3C/svg%3E");
    width: 10px;
    height: 10px;
    padding: 0;
    background-color: transparent;
    border: none;
  }

  &__arrow {
    width: 8px;
    height: 12px;
    margin-top: 30px;
    padding: 0;
    background-color: transparent;
    border: none;
  }

  &__arrow--left {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41 1.41 6 0 0 6l6 6 1.41-1.41L2.83 6l4.58-4.59z' fill='%23FF6117'/%3E%3C/svg%3E") ;
    margin-right: 25px;
  }

  &__arrow--right {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 0 .59 1.41 5.17 6 .59 10.59 2 12l6-6-6-6z' fill='%23FF6117'/%3E%3C/svg%3E");
  }
}


