.icon {
  color: $white;
  margin: 0 auto;

  &--small {
    width: 15px !important;
    height: 15px !important;
  }

  &__menu {
    width: 18px;
    height: 12px;
    pointer-events: none;
  }

  &__star {
    position: relative;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    margin-right: 10px;
  }
}


