.icon {
  color: $white;
  margin: 0 auto;

  &--small {
    width: 15px !important;
    height: 15px !important;
  }

  &__menu {
    width: 18px;
    height: 12px;
    pointer-events: none;
  }

  &__info {
    width: 22px;
    height: 20px;
    margin-top: 2px;
    margin-left: 2px;
  }

  &__star {
    position: relative;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-right: 8px;
  }

  &__checked {
    width: 18px;
    height: 17px;
    margin-right: 1px;
  }
}


